# project
.vs
.vscode
.idea
*.json
unix_external/sal/sal.h

# build
cmake-build-debug-visual-studio
cmake-build-release-visual-studio
build
build_exe
*.so
*.dll
*.dylib
*.exe
texconv
texassemble

# test
python
*.py
out
*.dds
*.tga
*.png

# script
*.bat
!batch_files/*.bat
*.sh
!shell_scripts/*.sh
memo*
